@font-face {
    font-family: "Barlow";
    font-weight: 400;
    src: url(./../fonts/Barlow-Regular.ttf) format("truetype");
    }

    @font-face {
    font-family: "Jost";
    font-weight: 400;
    src: url(./../fonts/Jost-VariableFont_wght.ttf) format("truetype");
    }

    @font-face {
        font-family: "JostBold";
        font-weight: 600;
        src: url(./../fonts/Jost-SemiBold.ttf) format("truetype");
        }