$accent-color: #fb5b11;
$gray-text: #555555;

@mixin button ($width) {
    height: 60px;
    width: $width;
    background-image: linear-gradient(to right, #fb5b11 0%, #f17e49 51%, #fb5b11 100%);
    color: white;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    font-family: "JostBold";
    font-size: 16px;
    line-height: 26px;
    transition: 0.5s;
    background-size: 200% auto;
    box-shadow: 0 0 10px #555555;
    cursor: pointer;

    &:hover {
        background-position: right center;
        color: #fff;
        text-decoration: none;
    }

    &:active {
        transform: scale(0.99);
    }
}