@import "./_fonts";
@import "./vars";

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

html {
    box-sizing: border-box;

}

body {
    max-width: 1920px;
    margin: 0 auto;
    font-family: "Barlow";
}

// How to Process start
.process {
    background-image: url(./../images/right-screen.svg);
    background-repeat: no-repeat;
    background-position: top right;
    margin-top: 142px;

}

.process_wrapper {
    max-width: 1296px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    .process_subheading {
        margin: 0 auto;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 13px;
        font-family: "JostBold";
        font-weight: 600;
        font-size: 16px;
        line-height: 162%;
        margin-bottom: 15px;
    }

    .process_heading {
        margin-bottom: 37px;
        font-family: "JostBold";
        font-weight: 600;
        font-size: 52px;
        line-height: 119%;

    }

}

.process_buttonslist {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-bottom: 90px;
}

.process_buttonlist__item {
    border: 1px solid rgba(85, 85, 85, 0.2);
    width: 416px;
    height: 80px;
    position: relative;
    background-color: #fff;
    font-family: "JostBold";
    font-weight: 600;
    font-size: 24px;
    line-height: 142%;
    cursor: pointer;
}

.process_buttonlist__item.active {
    background-color: $accent-color;
}

.process_buttonlist__item.active::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    border-style: solid;
    border-width: 10px 10px 0 10px;
    border-color: $accent-color transparent transparent transparent;
    width: 0;
    height: 0;
}

.process_video {
    iframe {
        display: none;
    }
}

// How to Process end

// Price Table start
.price {
    max-height: 1084px;
    background-image: url(./../images/pricebg.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 142px;
}

.price_wrapper {
    max-width: 1296px;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;


    .price_subheading {
        margin: 0 auto;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 13px;
        font-family: "JostBold";
        font-weight: 600;
        font-size: 16px;
        line-height: 162%;
        margin-bottom: 14px;
        margin-top: 143px;
    }

    .price_heading {
        margin-bottom: 37px;
        font-family: "JostBold";
        font-weight: 600;
        font-size: 52px;
        line-height: 119%;
        margin-bottom: 67px;

    }
}


.price_cards {
    display: flex;
    gap: 24px;

}

.price_cards__item {
    width: 416px;
    height: 536px;
    border: 1px solid #d8d8d8;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: white;
    margin-bottom: 236px;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 50px 50px 50px 0;
        border-color: #000 transparent transparent transparent;
    }

    &:hover::before {
        border-color: $accent-color transparent transparent transparent;
    }

    .price_cards__item--special {
        width: 100px;
        height: 30px;
        margin: 10px 10px 0 0;
        border-radius: 100px;
        background-color: #39ca6e;
        color: white;
        font-weight: 400;
        font-size: 16px;
        line-height: 162%;
        text-align: center;
        outline: none;
        position: absolute;
        top: 10px;
        right: 10px;


    }

    .price_card__heading {
        margin: 44px 0 27px 48px;
        display: flex;
        flex-direction: column;
        gap: 13px;

        .price_card__heading--value {
            font-family: "JostBold";
            font-weight: 600;
            font-size: 32px;
            line-height: 131%;

            sub {
                color: $gray-text;
            }
        }

        div {
            display: flex;
            align-items: center;
            gap: 16px;
            font-weight: 400;
            font-size: 16px;
            line-height: 162%;
        }
    }

    .price_card__list {
        margin: 0 0 39px 38px;

        ul {
            border-top: 1px solid $gray-text;
            padding-top: 19px;
            list-style-type: none;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        li {
            font-weight: 400;
            font-size: 16px;
            line-height: 225%;
            margin-left: 20px;
        }

        li::before {
            content: "";
            display: inline-block;
            width: 2px;
            height: 2px;
            background-color: $gray-text;
            margin-right: 10px;
        }
    }

    .price_card__button {
        height: 50px;
        width: 200px;
        margin-left: 50px;
        font-family: "JostBold";
        font-weight: 600;
        font-size: 16px;
        line-height: 162%;
        background-color: white;
        color: #0e0e0e;
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: center;
        border: 1px solid var(--0e0e0e);
        transition: 0.5s;
        box-shadow: 0 0 10px #555555;
        cursor: pointer;

        &:hover {

            background-color: $accent-color;
            color: white;
            text-decoration: none;

        }

        &:active {
            transform: scale(0.99);
        }
    }

    .price_card__button span {
        margin-right: 10px;
    }

    .price_card__button img {
        display: block;
        width: 17px;
        height: 17px;
    }

    .price_card__button:hover img {
        content: url(../images/arrow-top.svg);

    }

}

// Price Table End

// banner section Женя
.banner {
    position: relative;
    background: url('../images/crane.webp'), linear-gradient(180deg, rgba(14, 14, 14, 0.3) 0%, rgba(14, 14, 14, 0.7) 100%);
    background-size: 200% auto;
    background-position: center;
    background-blend-mode: darken;

    @media (max-width: 768px) {
        padding-bottom: 40px;
        background-size: auto 100%;
        background-position: center;
        background-repeat: no-repeat;
    }

    .banner-container {
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 90%;

        @media (max-width: 768px) {
            flex-direction: column;
        }

        .banner__info {
            margin: 199px 0;
            max-width: 901px;
            color: white;

            @media (max-width: 768px) {
                margin: 2rem 0;
            }

            .banner__info--title {
                margin-bottom: 0;
                font-family: "JostBold";
                font-size: clamp(70px, 10vw, 158px);
                line-height: 87%;
                text-transform: capitalize
            }

            .banner__info--text {
                margin-bottom: 49px;
                max-width: 756px;
                font-size: clamp(20px, 2.5vw, 24px);
                line-height: 142%;
            }

            .banner__info--button {
                @include button(192px);

                .button__image {
                    width: 22px;
                    height: 100%;
                }
            }
        }

        .banner__image {
            max-width: 606px;
            background-image: url('../images/banner-bg.svg');
            background-repeat: no-repeat;
            background-size: contain;
            background-position: right 0 bottom 0;

            .banner__image--pic {
                width: 100%;
            }
        }
    }

    .banner__machine {
        position: absolute;
        left: 35%;
        bottom: -17%;
        width: min(539px, 40vw);

        .banner__machine--pic {
            max-width: 100%;
        }

        @media (max-width: 768px) {
            display: none;
        }
    }

    .banner__hook {
        position: absolute;
        left: 69px;
        bottom: -240px;
        z-index: -1;
        animation: bounceDown;
        animation-timeline: view();

        @keyframes bounceDown {

            0%,
            100% {
                transform: translateY(-100px);
            }

            20% {
                transform: translateY(-50px);
            }

            50% {
                transform: translateY(0px);
            }

            70% {
                transform: translateY(-50px);
            }
        }
    }
}

.autoShow {
    animation: autoShowAnimation both;
    animation-timeline: view(70% 10%);
}

@keyframes autoShowAnimation {
    from {
        opacity: 0;
        transform: translateY(50px) scale(0.9);
    }

    to {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

// banner section END

// Our Projects Женя
.projects {
    margin-top: 100px;
    overflow: hidden;

    .projects__swiper {
        max-width: 1920px;

        @media (max-width: 768px) {
            max-width: 100vw;
        }
    }

    .projects__subheading {
        margin: 0 auto;
        max-width: 1296px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 13px;
        font-family: "JostBold";
        font-size: 16px;
        line-height: 162%;
        margin-bottom: 15px;

        @media (max-width: 768px) {
            justify-content: center;
        }
    }

    .swiper-header {
        margin: 0 auto 67px auto;
        max-width: 1296px;
        display: flex;
        justify-content: space-between;

        @media (max-width: 768px) {
            flex-direction: column;
            align-items: center;
            gap: 10px;
        }

        .projects__heading {
            font-family: "JostBold";
            font-size: 52px;
            line-height: 119%;

            @media (max-width: 768px) {
                text-align: center;
            }
        }

        .swiper-controls {
            display: flex;
            align-items: center;
            gap: 1rem;

            .projects__swiper-button-prev,
            .projects__swiper-button-next {
                position: static;
                margin: 0;
                padding: 0;
                color: $gray-text;
                font-size: 30px;

                &:hover {
                    color: $accent-color;
                }
            }

            .projects__swiper-button-next::after,
            .projects__swiper-button-prev::after {
                content: "";
            }
        }

    }

    .projects__swiper-wrapper {
        width: 100%;
        height: 443px;

        .projects__swiper-slide {
            position: relative;
            height: 443px;
            width: 623px;
            overflow: hidden;

            &:hover {
                img {
                    filter: brightness(0.3);
                    transition: all .2s ease;
                }

                .project__info {
                    display: block;
                }
            }

            @media (max-width: 768px) {
                max-width: 100%;
            }

            img {
                height: 100%;
            }

            .project__info {
                position: absolute;
                left: 30px;
                bottom: 30px;
                display: none;

                .popover-button {
                    @include button (60px);
                    margin: 0 auto;
                    border: 5px solid $gray-text;

                    &:active {
                        transform: scale(0.95);
                    }

                    @media (max-width: 768px) {
                        display: none;
                    }
                }

                .project__type {
                    margin-top: 40px;
                    margin-bottom: 20px;
                    padding-top: 3px;
                    width: 116px;
                    height: 36px;
                    background-color: $accent-color;
                    color: white;
                    font-family: "JostBold";
                    font-size: 16px;
                    line-height: 26px;
                    text-align: center;
                }

                .project__name {
                    padding-top: 13px;
                    width: 419px;
                    height: 74px;
                    color: white;
                    font-family: "JostBold";
                    font-size: 32px;
                    line-height: 40px;
                    background-color: black;
                    text-align: center;
                }
            }

            .project__popover:popover-open {
                margin: auto;
                padding: 1rem;
                width: 1000px;
                height: 500px;
                border: none;
                display: block;
                transition: .4s ease;
            }

            .popover__info {
                margin: auto;
                padding: 1rem;
                background-color: rgba(255, 255, 255, 0.6);
                border-radius: 10px;
            }

            .popover__title {
                font-family: "JostBold";
                font-size: 32px;
                line-height: 40px;
                text-align: center;
            }

            #project1-popover {
                background-image: url("../images/project1.webp");
                background-size: cover;
            }

            #project2-popover {
                background-image: url("../images/project2.webp");
                background-size: cover;
            }

            #project3-popover {
                background-image: url("../images/project3.webp");
                background-size: cover;
            }

            #project4-popover {
                background-image: url("../images/project4.webp");
                background-size: cover;
            }

            #project5-popover {
                background-image: url("../images/project5.webp");
                background-size: cover;
            }
        }
    }
}

// Our Projects END
// header start
.header-container {
    overflow: visible;
    width: 100%;
    height: 145px;
    display: flex;
}

.header-inner-container {
    width: 100%;
    height: 145px;
    background: #000;
    display: grid;
    grid-template-columns: 25% 75%;
}

.header-logo {
    grid-column: 1;
    z-index: 1;
}

.header__menu-container {
    grid-column: 2;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.header_main-menu {
    width: 100%;
    height: 145px;
    display: flex;
    flex-direction: column;
    color: white;
}

.header__main-menu_contacts,
.header__main-menu_contacts-wrap {
    width: 100%;
    height: 35%;
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    text-transform: capitalize;
    color: var(#cdcdcd);
    font-family: "Barlow", sans-serif;
    align-items: center;
    display: flex;
    justify-content: space-around;
}

.header__main-menu_icons-wrap {
    display: flex;
    gap: 8px;
    justify-content: space-around;
    padding-right: 16px;
    padding-left: 16px;
}

.header-menu__adress,
.header-menu__mail,
.header-menu__time {
    display: flex;
    gap: 8px;
    align-items: center;
    text-decoration: none;
}

.header__gmail-link,
.header-adress {
    text-decoration: none;
    color: #cdcdcd;
}

.header__gmail-link:visited {
    color: #cdcdcd;
}

.header-menu__hover:hover {
    color: #FB5B11;
}

.header__main-menu_nav-bar {
    align-self: flex-end;
    border-top: 1px solid #cdcdcd;
    width: 92%;
    height: 100%;
    display: flex;
    gap: 1%;
    justify-content: space-around;
    color: var(#cdcdcd);
    font-family: "Barlow", sans-serif;
    align-items: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 162%;
    text-transform: capitalize;
    color: white;
}

.header-nav-bar__link {
    text-decoration: none;
    font-family: "Barlow", sans-serif;
    align-items: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 162%;
    text-transform: capitalize;
    color: white;
}

.header-nav-bar__link:visited {
    color: white;
}

.header-nav-bar__link:hover {
    color: #FB5B11;
}

.header_side-bar {
    border-left: 1px solid #cdcdcd;
    width: 20%;
    height: 145px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.header-btn {
    @include button(60px);
}

// header end

//footer start
.sign-up_form {
    background: #FB5B11;
    width: 1296px;
    height: 184.32px;
    position: absolute;
    z-index: 1;
    margin-top: -91px;
    margin-left: calc((100% - 1296px)/2);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.input-box__wrap {
    border-bottom: 1px solid white;

}

.form__input {
    width: 417px;
    height: 45.1px;
    background-color: #FB5B11;
    border: 0;
}

.form__input::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    text-transform: capitalize;
    color: #cdcdcd;
    font-family: "Barlow", sans-serif;
}

.form-text {
    font-family: "Jost", sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 131%;
    text-transform: capitalize;
    color: white;
}

.form-button {
    border: 0;
}

.footer-container {
    background: #000;
    width: 100%;
    height: 637.1px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.footer_inner-container {
    width: 100%;
    height: 100%;
    background-image: url('../images/footer-bg.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right 0 bottom 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer__logo-box,
.footer__link-box,
.footer__info-box,
.footer__link-social-box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 70%;
}

.footer-allrihts {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70.59px;
}

.footer-title {
    font-family: "Jost", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 162%;
    text-transform: capitalize;
    color: white;
}

.footer-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    text-transform: capitalize;
    color: #cdcdcd;
    font-family: "Barlow", sans-serif;
}

.footer-text:hover {
    color: #FB5B11;
}

.footer-link {
    text-decoration: none;
    color: #cdcdcd;
    ;
}

.footer-link:visited {
    color: #cdcdcd;
}

.footer-link:hover {
    color: #FB5B11;
}

//footer end

// latest Services начало

%our-blog-headline {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 16px;
    line-height: 162%;
}

.section-latest-services {
    max-width: 1297px;
    height: 426px;
    margin: 0 auto;
    margin-top: 300px;
    display: flex;

    @media(max-width:1152px) {
        justify-content: center;
    }

    .latest-services {
        position: relative;
        max-width: 28rem;
        max-height: 22rem;
        display: flex;
        flex-direction: column;
        align-items: start;

        @media(max-width:1152px) {
            flex-direction: column;
            gap: 2rem;
            margin-top: 2rem;
            align-items: center;
        }

        .latest-services__text {
            @extend %our-blog-headline;
            font-family: "JostBold", sans-serif;
            justify-content: center;
        }

        .latest-services__title {
            font-family: "JostBold", sans-serif;
            font-size: clamp(30px, 4.8vw, 52px);
            line-height: 62px;
            margin-top: 1rem;
            max-width: 26rem;
            height: 7.8rem;
        }

        .latest-services__info {
            font-size: 16px;
            line-height: 162%;
            margin-top: 0.5rem;
            max-width: 28rem;
            height: 4.8rem;
            color: rgb(85, 85, 85);
        }

        .latest-services__button {
            height: 60px;
            width: 146px;
            margin-top: 43px;
            font-family: "JostBold", sans-serif;
            font-weight: 600;
            font-size: 16px;
            line-height: 162%;
            background-color: white;
            color: #0e0e0e;
            display: flex;
            gap: 10px;
            align-items: center;
            justify-content: center;
            border: 1px solid var(--0e0e0e);
            transition: 0.5s;
            box-shadow: 0 0 10px #555555;
            cursor: pointer;

            &:hover {

                background-color: $accent-color;
                color: white;
                text-decoration: none;

            }

            &:active {
                transform: scale(0.99);
            }
        }

        .latest-services__button span {
            margin-right: 10px;
        }

        .latest-services__button img {
            display: block;
            width: 17px;
            height: 17px;
        }

        .latest-services__button:hover img {
            content: url(../images/arrow-top.svg);
        }

        .worker-icon {
            position: absolute;
            bottom: -2.5rem;
            right: -2rem;
        }
    }
}

// latest Services конец

// Our Blog начало

@mixin button ($width) {
    height: 60px;
    width: $width;
    background-image: linear-gradient(to right, #fb5b11 0%, #f17e49 51%, #fb5b11 100%);
    color: white;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    font-family: "JostBold";
    font-size: 16px;
    line-height: 26px;
    transition: 0.5s;
    background-size: 200% auto;
    box-shadow: 0 0 10px #555555;
    cursor: pointer;

    &:hover {
        background-position: right center;
        color: #fff;
        text-decoration: none;
    }

    &:active {
        transform: scale(0.99);
    }
}

%our-blog-headline {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    line-height: 162%;
}

%our-blog-link {
    font-family: "JostBold", sans-serif;
    font-size: 16px;
    line-height: 162%;
    text-decoration: none;
    color: $accent-color;
    gap: 10px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: start;
    box-sizing: border-box;
    width: 7rem;
    height: 1.6rem;
}

%order-blog-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

%order-blog-text_position {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    font-weight: 400;
}

.our-blog {
    max-width: 1297px;
    max-height: 1189px;
    display: flex;
    flex-direction: column;
    margin: 100px auto;

    .our-blog__text {
        @extend %our-blog-headline;
        font-family: "JostBold", sans-serif;
        justify-content: center;
    }

    .our-blog__title {
        margin-top: 1rem;
        align-self: center;
        text-align: center;
        font-family: "JostBold", sans-serif;
        font-size: clamp(30px, 4.8vw, 52px);
        line-height: 62px;
        max-width: 40.7rem;
        height: 4rem;
    }

    .our-blog__events {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 5rem;

        @media(max-width:1152px) {
            flex-direction: column;
            gap: 2rem;
            margin-top: 2rem;
            justify-content: center;
        }

        .events {
            text-align: start;
            max-width: 28.7rem;
            height: 17.3rem;

            @media(max-width:1152px) {
                text-align: center;
            }

            .events__text {
                @extend %our-blog-headline;
                color: $gray-text;

                @media(max-width:1152px) {
                    justify-content: center;
                }
            }

            .events__title {
                margin-top: 1rem;
                font-family: "JostBold";
                font-size: 32px;
                line-height: 42px;
                max-width: 28.6rem;
                height: 5.3rem;
            }

            .events__info {
                margin-top: 1rem;
                font-size: 16px;
                line-height: 26px;
                color: $gray-text;
                max-width: 26.2rem;
                height: 5rem;
            }

            .events__link {
                @extend %our-blog-link;
                margin-top: 2.3rem;
            }
        }

        .events__image {
            max-width: 40rem;
            height: 22.5rem;
            position: relative;

            img {
                @extend %order-blog-image;
            }

            .events-image_position {
                position: absolute;
                top: 0.6rem;
                left: -4.4rem;
                max-width: 8rem;

                @media(max-width:768px) {
                    left: 1rem;
                }


                .events-image_position-text {
                    @extend %order-blog-text_position;
                    font-size: 24px;
                    line-height: 34px;
                    width: 4.4rem;
                    height: 4.3rem;
                }
            }
        }
    }

    .our-blog__cards {
        max-width: 1297px;
        display: flex;
        margin-top: 1.8rem;
        gap: 1.5rem;
        position: relative;

        @media(max-width:1280px) {
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
        }

        .card {
            display: flex;
            flex-direction: column;
            gap: 24px;
            padding: 1.8rem;
            width: 26rem;
            height: 32.8rem;
            border: 1px solid rgb(216, 216, 216);
            box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
            position: relative;

            .card__text {
                @extend %our-blog-headline;
                color: $gray-text;
                margin-top: 1.4rem;
            }

            .card__title {
                margin-top: 1rem;
                font-family: "JostBold", sans-serif;
                font-size: 24px;
                line-height: 34px;
                width: 22.4rem;
                height: 4.3rem;
            }

            .card__link {
                @extend %our-blog-link;
                margin-top: 1rem;
                margin-bottom: 1.4rem;
            }

            .card-link_black {
                color: black;
            }

            .card__image {
                width: 22.3rem;
                height: 18.8rem;
                align-self: center;
                position: relative;

                img {
                    @extend %order-blog-image;
                }
            }
        }

        .cards-image_position {
            position: absolute;
            left: -18rem;
            top: 2.7rem;
            width: 4.5rem;
        }

        .card__position {
            position: relative;

            .cards-image_position-small {
                position: absolute;
                width: 4.5rem;
                height: 4.3rem;
                top: 15rem;
                right: 2.8rem;

                img {
                    @extend %order-blog-image;
                }

                .cards-image_position-text {
                    @extend %order-blog-text_position;
                    font-size: 16px;
                    line-height: 26px;
                    width: 3rem;
                    height: 3.2rem;
                }
            }
        }
    }

    .card__button {
        @include button(12rem);
        padding: 1rem 2rem;
        align-self: center;
        margin-top: 2.6rem;

        .button__image {
            width: 1.4rem;
            height: 100%;
        }
    }
}

// Our Blog конец


// Testimonials Женя

.testimonials {

    .testimonialsSwiper {
        .testimonials__swiper-wrapper {
            height: 281px;

            .testimonials__swiper-slide {
                max-width: 950px;
                height: 100%;
            }
        }

        .testimonials__pagination {

            .swiper-pagination-bullet {
                width: 20px;
                height: 20px;
                text-align: center;
                line-height: 20px;
                font-size: 12px;
                color: #000;
                opacity: 1;
                background: rgba(0, 0, 0, 0.2);
            }

            .swiper-pagination-bullet-active {
                color: #fff;
                background: #007aff;
            }

            // img {
            //     width: 70px;
            //     height: 70px;
            //     border-radius: 50%;
            // }

            // <img src="./assets/images/testimonial1.webp" alt=""><img src="./assets/images/testimonial2.webp" alt=""><img src="./assets/images/testimonial3.webp" alt="">
        }
    }
}


// Testimonials END