@import "./_fonts";
@import './vars';

* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
}

body {
    max-width: 1920px;
    margin: 0 auto;
    font-family: "Barlow";
}

// banner section Женя
.banner {
    position: relative;
    background: url('../images/crane.jpg'), linear-gradient(180deg, rgba(14, 14, 14, 0.3) 0%, rgba(14, 14, 14, 0.7) 100%);
    background-size: 200% auto;
    background-position: center;
    background-blend-mode: darken;

    @media (max-width: 768px) {
        padding-bottom: 40px;
        background-size: auto 100%;
        background-position: center;
        background-repeat: no-repeat;
    }

    .banner-container {
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 90%;

        @media (max-width: 768px) {
            flex-direction: column;
        }

        .banner__info {
            margin: 199px 0;
            max-width: 901px;
            color: white;

            @media (max-width: 768px) {
                margin: 2rem 0;
            }

            .banner__info--title {
                margin-bottom: 0;
                font-family: "JostBold";
                font-size: clamp(70px, 10vw, 158px);
                line-height: 87%;
                text-transform: capitalize
            }

            .banner__info--text {
                margin-bottom: 49px;
                max-width: 756px;
                font-size: clamp(20px, 2.5vw, 24px);
                line-height: 142%;
            }

            .banner__info--button {
                @include button(192px);

                .button__image {
                    width: 22px;
                    height: 100%;
                }
            }
        }

        .banner__image {
            max-width: 606px;
            background-image: url('../images/banner-bg.svg');
            background-repeat: no-repeat;
            background-size: contain;
            background-position: right 0 bottom 0;

            .banner__image--pic {
                width: 100%;
            }
        }
    }

    .banner__machine {
        position: absolute;
        left: 35%;
        bottom: -17%;
        width: min(539px, 40vw);

        .banner__machine--pic {
            max-width: 100%;
        }

        @media (max-width: 768px) {
            display: none;
        }
    }

    .banner__hook {
        position: absolute;
        left: 69px;
        bottom: -240px;
        z-index: -1;
        animation: bounceDown 3s ease;

        @keyframes bounceDown {

            0%,
            20%,
            50%,
            80%,
            100% {
                transform: translateY(-2px);
            }

            40% {
                transform: translateY(-30px);
            }

            60% {
                transform: translateY(-15px);
            }
        }
    }
}

.autoShow {
    animation: autoShowAnimation both;
    animation-timeline: view(70% 10%);
}

@keyframes autoShowAnimation {
    from {
        opacity: 0;
        transform: translateY(50px) scale(0.9);
    }

    to {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}




// banner section END


// Our Projects Женя


// Our Projects END