@font-face {
  font-family: "Barlow";
  font-weight: 400;
  src: url(./../fonts/Barlow-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Jost";
  font-weight: 400;
  src: url(./../fonts/Jost-VariableFont_wght.ttf) format("truetype");
}
@font-face {
  font-family: "JostBold";
  font-weight: 600;
  src: url(./../fonts/Jost-SemiBold.ttf) format("truetype");
}
* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

body {
  max-width: 1920px;
  margin: 0 auto;
  font-family: "Barlow";
}

.process {
  background-image: url(./../images/right-screen.svg);
  background-repeat: no-repeat;
  background-position: top right;
  margin-top: 142px;
}

.process_wrapper {
  max-width: 1296px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.process_wrapper .process_subheading {
  margin: 0 auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 13px;
  font-family: "JostBold";
  font-weight: 600;
  font-size: 16px;
  line-height: 162%;
  margin-bottom: 15px;
}
.process_wrapper .process_heading {
  margin-bottom: 37px;
  font-family: "JostBold";
  font-weight: 600;
  font-size: 52px;
  line-height: 119%;
}

.process_buttonslist {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-bottom: 90px;
}

.process_buttonlist__item {
  border: 1px solid rgba(85, 85, 85, 0.2);
  width: 416px;
  height: 80px;
  position: relative;
  background-color: #fff;
  font-family: "JostBold";
  font-weight: 600;
  font-size: 24px;
  line-height: 142%;
  cursor: pointer;
}

.process_buttonlist__item.active {
  background-color: #fb5b11;
}

.process_buttonlist__item.active::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  border-style: solid;
  border-width: 10px 10px 0 10px;
  border-color: #fb5b11 transparent transparent transparent;
  width: 0;
  height: 0;
}

.process_video iframe {
  display: none;
}

.price {
  max-height: 1084px;
  background-image: url(./../images/pricebg.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 142px;
}

.price_wrapper {
  max-width: 1296px;
  height: 100%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.price_wrapper .price_subheading {
  margin: 0 auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 13px;
  font-family: "JostBold";
  font-weight: 600;
  font-size: 16px;
  line-height: 162%;
  margin-bottom: 14px;
  margin-top: 143px;
}
.price_wrapper .price_heading {
  margin-bottom: 37px;
  font-family: "JostBold";
  font-weight: 600;
  font-size: 52px;
  line-height: 119%;
  margin-bottom: 67px;
}

.price_cards {
  display: flex;
  gap: 24px;
}

.price_cards__item {
  width: 416px;
  height: 536px;
  border: 1px solid #d8d8d8;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: white;
  margin-bottom: 236px;
  position: relative;
}
.price_cards__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 50px 50px 50px 0;
  border-color: #000 transparent transparent transparent;
}
.price_cards__item:hover::before {
  border-color: #fb5b11 transparent transparent transparent;
}
.price_cards__item .price_cards__item--special {
  width: 100px;
  height: 30px;
  margin: 10px 10px 0 0;
  border-radius: 100px;
  background-color: #39ca6e;
  color: white;
  font-weight: 400;
  font-size: 16px;
  line-height: 162%;
  text-align: center;
  outline: none;
  position: absolute;
  top: 10px;
  right: 10px;
}
.price_cards__item .price_card__heading {
  margin: 44px 0 27px 48px;
  display: flex;
  flex-direction: column;
  gap: 13px;
}
.price_cards__item .price_card__heading .price_card__heading--value {
  font-family: "JostBold";
  font-weight: 600;
  font-size: 32px;
  line-height: 131%;
}
.price_cards__item .price_card__heading .price_card__heading--value sub {
  color: #555555;
}
.price_cards__item .price_card__heading div {
  display: flex;
  align-items: center;
  gap: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 162%;
}
.price_cards__item .price_card__list {
  margin: 0 0 39px 38px;
}
.price_cards__item .price_card__list ul {
  border-top: 1px solid #555555;
  padding-top: 19px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.price_cards__item .price_card__list li {
  font-weight: 400;
  font-size: 16px;
  line-height: 225%;
  margin-left: 20px;
}
.price_cards__item .price_card__list li::before {
  content: "";
  display: inline-block;
  width: 2px;
  height: 2px;
  background-color: #555555;
  margin-right: 10px;
}
.price_cards__item .price_card__button {
  height: 50px;
  width: 200px;
  margin-left: 50px;
  font-family: "JostBold";
  font-weight: 600;
  font-size: 16px;
  line-height: 162%;
  background-color: white;
  color: #0e0e0e;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--0e0e0e);
  transition: 0.5s;
  box-shadow: 0 0 10px #555555;
  cursor: pointer;
}
.price_cards__item .price_card__button:hover {
  background-color: #fb5b11;
  color: white;
  text-decoration: none;
}
.price_cards__item .price_card__button:active {
  transform: scale(0.99);
}
.price_cards__item .price_card__button span {
  margin-right: 10px;
}
.price_cards__item .price_card__button img {
  display: block;
  width: 17px;
  height: 17px;
}
.price_cards__item .price_card__button:hover img {
  content: url(../images/arrow-top.svg);
}

.banner {
  position: relative;
  background: url("../images/crane.jpg"), linear-gradient(180deg, rgba(14, 14, 14, 0.3) 0%, rgba(14, 14, 14, 0.7) 100%);
  background-size: 200% auto;
  background-position: center;
  background-blend-mode: darken;
}
@media (max-width: 768px) {
  .banner {
    padding-bottom: 40px;
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
  }
}
.banner .banner-container {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 90%;
}
@media (max-width: 768px) {
  .banner .banner-container {
    flex-direction: column;
  }
}
.banner .banner-container .banner__info {
  margin: 199px 0;
  max-width: 901px;
  color: white;
}
@media (max-width: 768px) {
  .banner .banner-container .banner__info {
    margin: 2rem 0;
  }
}
.banner .banner-container .banner__info .banner__info--title {
  margin-bottom: 0;
  font-family: "JostBold";
  font-size: clamp(70px, 10vw, 158px);
  line-height: 87%;
  text-transform: capitalize;
}
.banner .banner-container .banner__info .banner__info--text {
  margin-bottom: 49px;
  max-width: 756px;
  font-size: clamp(20px, 2.5vw, 24px);
  line-height: 142%;
}
.banner .banner-container .banner__info .banner__info--button {
  height: 60px;
  width: 192px;
  background-image: linear-gradient(to right, #fb5b11 0%, #f17e49 51%, #fb5b11 100%);
  color: white;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  font-family: "JostBold";
  font-size: 16px;
  line-height: 26px;
  transition: 0.5s;
  background-size: 200% auto;
  box-shadow: 0 0 10px #555555;
  cursor: pointer;
}
.banner .banner-container .banner__info .banner__info--button:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}
.banner .banner-container .banner__info .banner__info--button:active {
  transform: scale(0.99);
}
.banner .banner-container .banner__info .banner__info--button .button__image {
  width: 22px;
  height: 100%;
}
.banner .banner-container .banner__image {
  max-width: 606px;
  background-image: url("../images/banner-bg.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right 0 bottom 0;
}
.banner .banner-container .banner__image .banner__image--pic {
  width: 100%;
}
.banner .banner__machine {
  position: absolute;
  left: 35%;
  bottom: -17%;
  width: min(539px, 40vw);
}
.banner .banner__machine .banner__machine--pic {
  max-width: 100%;
}
@media (max-width: 768px) {
  .banner .banner__machine {
    display: none;
  }
}
.banner .banner__hook {
  position: absolute;
  left: 69px;
  bottom: -240px;
  z-index: -1;
  animation: bounceDown 3s ease;
}
@keyframes bounceDown {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(-2px);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.autoShow {
  animation: autoShowAnimation both;
  animation-timeline: view(70% 10%);
}

@keyframes autoShowAnimation {
  from {
    opacity: 0;
    transform: translateY(50px) scale(0.9);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}
.header-container {
  overflow: visible;
  width: 100%;
  height: 145px;
  display: flex;
}

.header-inner-container {
  width: 100%;
  height: 145px;
  background: #000;
  display: grid;
  grid-template-columns: 25% 75%;
}

.header-logo {
  grid-column: 1;
  z-index: 1;
}

.header__menu-container {
  grid-column: 2;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.header_main-menu {
  width: 100%;
  height: 145px;
  display: flex;
  flex-direction: column;
  color: white;
}

.header__main-menu_contacts,
.header__main-menu_contacts-wrap {
  width: 100%;
  height: 35%;
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  text-transform: capitalize;
  color: var(#cdcdcd);
  font-family: "Barlow", sans-serif;
  align-items: center;
  display: flex;
  justify-content: space-around;
}

.header__main-menu_icons-wrap {
  display: flex;
  gap: 8px;
  justify-content: space-around;
  padding-right: 16px;
  padding-left: 16px;
}

.header-menu__adress,
.header-menu__mail,
.header-menu__time {
  display: flex;
  gap: 8px;
  align-items: center;
  text-decoration: none;
}

.header__gmail-link,
.header-adress {
  text-decoration: none;
  color: #cdcdcd;
}

.header__gmail-link:visited {
  color: #cdcdcd;
}

.header-menu__hover:hover {
  color: #FB5B11;
}

.header__main-menu_nav-bar {
  align-self: flex-end;
  border-top: 1px solid #cdcdcd;
  width: 92%;
  height: 100%;
  display: flex;
  gap: 1%;
  justify-content: space-around;
  color: var(#cdcdcd);
  font-family: "Barlow", sans-serif;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 162%;
  text-transform: capitalize;
  color: white;
}

.header-nav-bar__link {
  text-decoration: none;
  font-family: "Barlow", sans-serif;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 162%;
  text-transform: capitalize;
  color: white;
}

.header-nav-bar__link:visited {
  color: white;
}

.header-nav-bar__link:hover {
  color: #FB5B11;
}

.header_side-bar {
  border-left: 1px solid #cdcdcd;
  width: 20%;
  height: 145px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.header-btn {
  height: 60px;
  width: 60px;
  background-image: linear-gradient(to right, #fb5b11 0%, #f17e49 51%, #fb5b11 100%);
  color: white;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  font-family: "JostBold";
  font-size: 16px;
  line-height: 26px;
  transition: 0.5s;
  background-size: 200% auto;
  box-shadow: 0 0 10px #555555;
  cursor: pointer;
}
.header-btn:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}
.header-btn:active {
  transform: scale(0.99);
}

.sign-up_form {
  background: #FB5B11;
  width: 1296px;
  height: 184.32px;
  position: absolute;
  z-index: 1;
  margin-top: -91px;
  margin-left: calc((100% - 1296px) / 2);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.input-box__wrap {
  border-bottom: 1px solid white;
}

.form__input {
  width: 417px;
  height: 45.1px;
  background-color: #FB5B11;
  border: 0;
}

.form__input::-moz-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  text-transform: capitalize;
  color: #cdcdcd;
  font-family: "Barlow", sans-serif;
}

.form__input::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  text-transform: capitalize;
  color: #cdcdcd;
  font-family: "Barlow", sans-serif;
}

.form-text {
  font-family: "Jost", sans-serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 131%;
  text-transform: capitalize;
  color: white;
}

.form-button {
  border: 0;
}

.footer-container {
  background: #000;
  width: 100%;
  height: 637.1px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.footer_inner-container {
  width: 100%;
  height: 100%;
  background-image: url("../images/footer-bg.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right 0 bottom 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer__logo-box, .footer__link-box, .footer__info-box, .footer__link-social-box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 70%;
}

.footer-allrihts {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70.59px;
}

.footer-title {
  font-family: "Jost", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 162%;
  text-transform: capitalize;
  color: white;
}

.footer-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  text-transform: capitalize;
  color: #cdcdcd;
  font-family: "Barlow", sans-serif;
}

.footer-text:hover {
  color: #FB5B11;
}

.footer-link {
  text-decoration: none;
  color: #cdcdcd;
}

.footer-link:visited {
  color: #cdcdcd;
}

.footer-link:hover {
  color: #FB5B11;
}/*# sourceMappingURL=index.css.map */