@font-face {
  font-family: "Barlow";
  font-weight: 400;
  src: url(./../fonts/Barlow-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Jost";
  font-weight: 400;
  src: url(./../fonts/Jost-VariableFont_wght.ttf) format("truetype");
}
@font-face {
  font-family: "JostBold";
  font-weight: 600;
  src: url(./../fonts/Jost-SemiBold.ttf) format("truetype");
}
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

html {
  box-sizing: border-box;
}

body {
  max-width: 1920px;
  margin: 0 auto;
  font-family: "Barlow";
}

.process {
  background-image: url(./../images/right-screen.svg);
  background-repeat: no-repeat;
  background-position: top right;
  margin-top: 142px;
}

.process_wrapper {
  max-width: 1296px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.process_wrapper .process_subheading {
  margin: 0 auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 13px;
  font-family: "JostBold";
  font-weight: 600;
  font-size: 16px;
  line-height: 162%;
  margin-bottom: 15px;
}
.process_wrapper .process_heading {
  margin-bottom: 37px;
  font-family: "JostBold";
  font-weight: 600;
  font-size: 52px;
  line-height: 119%;
}

.process_buttonslist {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-bottom: 90px;
}

.process_buttonlist__item {
  border: 1px solid rgba(85, 85, 85, 0.2);
  width: 416px;
  height: 80px;
  position: relative;
  background-color: #fff;
  font-family: "JostBold";
  font-weight: 600;
  font-size: 24px;
  line-height: 142%;
  cursor: pointer;
}

.process_buttonlist__item.active {
  background-color: #fb5b11;
}

.process_buttonlist__item.active::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  border-style: solid;
  border-width: 10px 10px 0 10px;
  border-color: #fb5b11 transparent transparent transparent;
  width: 0;
  height: 0;
}

.process_video iframe {
  display: none;
}

.price {
  max-height: 1084px;
  background-image: url(./../images/pricebg.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 142px;
}

.price_wrapper {
  max-width: 1296px;
  height: 100%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.price_wrapper .price_subheading {
  margin: 0 auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 13px;
  font-family: "JostBold";
  font-weight: 600;
  font-size: 16px;
  line-height: 162%;
  margin-bottom: 14px;
  margin-top: 143px;
}
.price_wrapper .price_heading {
  margin-bottom: 37px;
  font-family: "JostBold";
  font-weight: 600;
  font-size: 52px;
  line-height: 119%;
  margin-bottom: 67px;
}

.price_cards {
  display: flex;
  gap: 24px;
}

.price_cards__item {
  width: 416px;
  height: 536px;
  border: 1px solid #d8d8d8;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: white;
  margin-bottom: 236px;
  position: relative;
}
.price_cards__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 50px 50px 50px 0;
  border-color: #000 transparent transparent transparent;
}
.price_cards__item:hover::before {
  border-color: #fb5b11 transparent transparent transparent;
}
.price_cards__item .price_cards__item--special {
  width: 100px;
  height: 30px;
  margin: 10px 10px 0 0;
  border-radius: 100px;
  background-color: #39ca6e;
  color: white;
  font-weight: 400;
  font-size: 16px;
  line-height: 162%;
  text-align: center;
  outline: none;
  position: absolute;
  top: 10px;
  right: 10px;
}
.price_cards__item .price_card__heading {
  margin: 44px 0 27px 48px;
  display: flex;
  flex-direction: column;
  gap: 13px;
}
.price_cards__item .price_card__heading .price_card__heading--value {
  font-family: "JostBold";
  font-weight: 600;
  font-size: 32px;
  line-height: 131%;
}
.price_cards__item .price_card__heading .price_card__heading--value sub {
  color: #555555;
}
.price_cards__item .price_card__heading div {
  display: flex;
  align-items: center;
  gap: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 162%;
}
.price_cards__item .price_card__list {
  margin: 0 0 39px 38px;
}
.price_cards__item .price_card__list ul {
  border-top: 1px solid #555555;
  padding-top: 19px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.price_cards__item .price_card__list li {
  font-weight: 400;
  font-size: 16px;
  line-height: 225%;
  margin-left: 20px;
}
.price_cards__item .price_card__list li::before {
  content: "";
  display: inline-block;
  width: 2px;
  height: 2px;
  background-color: #555555;
  margin-right: 10px;
}
.price_cards__item .price_card__button {
  height: 50px;
  width: 200px;
  margin-left: 50px;
  font-family: "JostBold";
  font-weight: 600;
  font-size: 16px;
  line-height: 162%;
  background-color: white;
  color: #0e0e0e;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--0e0e0e);
  transition: 0.5s;
  box-shadow: 0 0 10px #555555;
  cursor: pointer;
}
.price_cards__item .price_card__button:hover {
  background-color: #fb5b11;
  color: white;
  text-decoration: none;
}
.price_cards__item .price_card__button:active {
  transform: scale(0.99);
}
.price_cards__item .price_card__button span {
  margin-right: 10px;
}
.price_cards__item .price_card__button img {
  display: block;
  width: 17px;
  height: 17px;
}
.price_cards__item .price_card__button:hover img {
  content: url(../images/arrow-top.svg);
}

.banner {
  position: relative;
  background: url("../images/crane.webp"), linear-gradient(180deg, rgba(14, 14, 14, 0.3) 0%, rgba(14, 14, 14, 0.7) 100%);
  background-size: 200% auto;
  background-position: center;
  background-blend-mode: darken;
}
@media (max-width: 768px) {
  .banner {
    padding-bottom: 40px;
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
  }
}
.banner .banner-container {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 90%;
}
@media (max-width: 768px) {
  .banner .banner-container {
    flex-direction: column;
  }
}
.banner .banner-container .banner__info {
  margin: 199px 0;
  max-width: 901px;
  color: white;
}
@media (max-width: 768px) {
  .banner .banner-container .banner__info {
    margin: 2rem 0;
  }
}
.banner .banner-container .banner__info .banner__info--title {
  margin-bottom: 0;
  font-family: "JostBold";
  font-size: clamp(70px, 10vw, 158px);
  line-height: 87%;
  text-transform: capitalize;
}
.banner .banner-container .banner__info .banner__info--text {
  margin-bottom: 49px;
  max-width: 756px;
  font-size: clamp(20px, 2.5vw, 24px);
  line-height: 142%;
}
.banner .banner-container .banner__info .banner__info--button {
  height: 60px;
  width: 192px;
  background-image: linear-gradient(to right, #fb5b11 0%, #f17e49 51%, #fb5b11 100%);
  color: white;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  font-family: "JostBold";
  font-size: 16px;
  line-height: 26px;
  transition: 0.5s;
  background-size: 200% auto;
  box-shadow: 0 0 10px #555555;
  cursor: pointer;
}
.banner .banner-container .banner__info .banner__info--button:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}
.banner .banner-container .banner__info .banner__info--button:active {
  transform: scale(0.99);
}
.banner .banner-container .banner__info .banner__info--button .button__image {
  width: 22px;
  height: 100%;
}
.banner .banner-container .banner__image {
  max-width: 606px;
  background-image: url("../images/banner-bg.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right 0 bottom 0;
}
.banner .banner-container .banner__image .banner__image--pic {
  width: 100%;
}
.banner .banner__machine {
  position: absolute;
  left: 35%;
  bottom: -17%;
  width: min(539px, 40vw);
}
.banner .banner__machine .banner__machine--pic {
  max-width: 100%;
}
@media (max-width: 768px) {
  .banner .banner__machine {
    display: none;
  }
}
.banner .banner__hook {
  position: absolute;
  left: 69px;
  bottom: -240px;
  z-index: -1;
  animation: bounceDown;
  animation-timeline: view();
}
@keyframes bounceDown {
  0%, 100% {
    transform: translateY(-100px);
  }
  20% {
    transform: translateY(-50px);
  }
  50% {
    transform: translateY(0px);
  }
  70% {
    transform: translateY(-50px);
  }
}

.autoShow {
  animation: autoShowAnimation both;
  animation-timeline: view(70% 10%);
}

@keyframes autoShowAnimation {
  from {
    opacity: 0;
    transform: translateY(50px) scale(0.9);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}
.projects {
  margin-top: 100px;
  overflow: hidden;
}
.projects .projects__swiper {
  max-width: 1920px;
}
@media (max-width: 768px) {
  .projects .projects__swiper {
    max-width: 100vw;
  }
}
.projects .projects__subheading {
  margin: 0 auto;
  max-width: 1296px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 13px;
  font-family: "JostBold";
  font-size: 16px;
  line-height: 162%;
  margin-bottom: 15px;
}
@media (max-width: 768px) {
  .projects .projects__subheading {
    justify-content: center;
  }
}
.projects .swiper-header {
  margin: 0 auto 67px auto;
  max-width: 1296px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .projects .swiper-header {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}
.projects .swiper-header .projects__heading {
  font-family: "JostBold";
  font-size: 52px;
  line-height: 119%;
}
@media (max-width: 768px) {
  .projects .swiper-header .projects__heading {
    text-align: center;
  }
}
.projects .swiper-header .swiper-controls {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.projects .swiper-header .swiper-controls .projects__swiper-button-prev,
.projects .swiper-header .swiper-controls .projects__swiper-button-next {
  position: static;
  margin: 0;
  padding: 0;
  color: #555555;
  font-size: 30px;
}
.projects .swiper-header .swiper-controls .projects__swiper-button-prev:hover,
.projects .swiper-header .swiper-controls .projects__swiper-button-next:hover {
  color: #fb5b11;
}
.projects .swiper-header .swiper-controls .projects__swiper-button-next::after,
.projects .swiper-header .swiper-controls .projects__swiper-button-prev::after {
  content: "";
}
.projects .projects__swiper-wrapper {
  width: 100%;
  height: 443px;
}
.projects .projects__swiper-wrapper .projects__swiper-slide {
  position: relative;
  height: 443px;
  width: 623px;
  overflow: hidden;
}
.projects .projects__swiper-wrapper .projects__swiper-slide:hover img {
  filter: brightness(0.3);
  transition: all 0.2s ease;
}
.projects .projects__swiper-wrapper .projects__swiper-slide:hover .project__info {
  display: block;
}
@media (max-width: 768px) {
  .projects .projects__swiper-wrapper .projects__swiper-slide {
    max-width: 100%;
  }
}
.projects .projects__swiper-wrapper .projects__swiper-slide img {
  height: 100%;
}
.projects .projects__swiper-wrapper .projects__swiper-slide .project__info {
  position: absolute;
  left: 30px;
  bottom: 30px;
  display: none;
}
.projects .projects__swiper-wrapper .projects__swiper-slide .project__info .popover-button {
  height: 60px;
  width: 60px;
  background-image: linear-gradient(to right, #fb5b11 0%, #f17e49 51%, #fb5b11 100%);
  color: white;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  font-family: "JostBold";
  font-size: 16px;
  line-height: 26px;
  transition: 0.5s;
  background-size: 200% auto;
  box-shadow: 0 0 10px #555555;
  cursor: pointer;
  margin: 0 auto;
  border: 5px solid #555555;
}
.projects .projects__swiper-wrapper .projects__swiper-slide .project__info .popover-button:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}
.projects .projects__swiper-wrapper .projects__swiper-slide .project__info .popover-button:active {
  transform: scale(0.99);
}
.projects .projects__swiper-wrapper .projects__swiper-slide .project__info .popover-button:active {
  transform: scale(0.95);
}
@media (max-width: 768px) {
  .projects .projects__swiper-wrapper .projects__swiper-slide .project__info .popover-button {
    display: none;
  }
}
.projects .projects__swiper-wrapper .projects__swiper-slide .project__info .project__type {
  margin-top: 40px;
  margin-bottom: 20px;
  padding-top: 3px;
  width: 116px;
  height: 36px;
  background-color: #fb5b11;
  color: white;
  font-family: "JostBold";
  font-size: 16px;
  line-height: 26px;
  text-align: center;
}
.projects .projects__swiper-wrapper .projects__swiper-slide .project__info .project__name {
  padding-top: 13px;
  width: 419px;
  height: 74px;
  color: white;
  font-family: "JostBold";
  font-size: 32px;
  line-height: 40px;
  background-color: black;
  text-align: center;
}
.projects .projects__swiper-wrapper .projects__swiper-slide .project__popover:popover-open {
  margin: auto;
  padding: 1rem;
  width: 1000px;
  height: 500px;
  border: none;
  display: block;
  transition: 0.4s ease;
}
.projects .projects__swiper-wrapper .projects__swiper-slide .popover__info {
  margin: auto;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 10px;
}
.projects .projects__swiper-wrapper .projects__swiper-slide .popover__title {
  font-family: "JostBold";
  font-size: 32px;
  line-height: 40px;
  text-align: center;
}
.projects .projects__swiper-wrapper .projects__swiper-slide #project1-popover {
  background-image: url("../images/project1.webp");
  background-size: cover;
}
.projects .projects__swiper-wrapper .projects__swiper-slide #project2-popover {
  background-image: url("../images/project2.webp");
  background-size: cover;
}
.projects .projects__swiper-wrapper .projects__swiper-slide #project3-popover {
  background-image: url("../images/project3.webp");
  background-size: cover;
}
.projects .projects__swiper-wrapper .projects__swiper-slide #project4-popover {
  background-image: url("../images/project4.webp");
  background-size: cover;
}
.projects .projects__swiper-wrapper .projects__swiper-slide #project5-popover {
  background-image: url("../images/project5.webp");
  background-size: cover;
}

.header-container {
  overflow: visible;
  width: 100%;
  height: 145px;
  display: flex;
}

.header-inner-container {
  width: 100%;
  height: 145px;
  background: #000;
  display: grid;
  grid-template-columns: 25% 75%;
}

.header-logo {
  grid-column: 1;
  z-index: 1;
}

.header__menu-container {
  grid-column: 2;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.header_main-menu {
  width: 100%;
  height: 145px;
  display: flex;
  flex-direction: column;
  color: white;
}

.header__main-menu_contacts,
.header__main-menu_contacts-wrap {
  width: 100%;
  height: 35%;
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  text-transform: capitalize;
  color: var(#cdcdcd);
  font-family: "Barlow", sans-serif;
  align-items: center;
  display: flex;
  justify-content: space-around;
}

.header__main-menu_icons-wrap {
  display: flex;
  gap: 8px;
  justify-content: space-around;
  padding-right: 16px;
  padding-left: 16px;
}

.header-menu__adress,
.header-menu__mail,
.header-menu__time {
  display: flex;
  gap: 8px;
  align-items: center;
  text-decoration: none;
}

.header__gmail-link,
.header-adress {
  text-decoration: none;
  color: #cdcdcd;
}

.header__gmail-link:visited {
  color: #cdcdcd;
}

.header-menu__hover:hover {
  color: #FB5B11;
}

.header__main-menu_nav-bar {
  align-self: flex-end;
  border-top: 1px solid #cdcdcd;
  width: 92%;
  height: 100%;
  display: flex;
  gap: 1%;
  justify-content: space-around;
  color: var(#cdcdcd);
  font-family: "Barlow", sans-serif;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 162%;
  text-transform: capitalize;
  color: white;
}

.header-nav-bar__link {
  text-decoration: none;
  font-family: "Barlow", sans-serif;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 162%;
  text-transform: capitalize;
  color: white;
}

.header-nav-bar__link:visited {
  color: white;
}

.header-nav-bar__link:hover {
  color: #FB5B11;
}

.header_side-bar {
  border-left: 1px solid #cdcdcd;
  width: 20%;
  height: 145px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.header-btn {
  height: 60px;
  width: 60px;
  background-image: linear-gradient(to right, #fb5b11 0%, #f17e49 51%, #fb5b11 100%);
  color: white;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  font-family: "JostBold";
  font-size: 16px;
  line-height: 26px;
  transition: 0.5s;
  background-size: 200% auto;
  box-shadow: 0 0 10px #555555;
  cursor: pointer;
}
.header-btn:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}
.header-btn:active {
  transform: scale(0.99);
}

.sign-up_form {
  background: #FB5B11;
  width: 1296px;
  height: 184.32px;
  position: absolute;
  z-index: 1;
  margin-top: -91px;
  margin-left: calc((100% - 1296px) / 2);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.input-box__wrap {
  border-bottom: 1px solid white;
}

.form__input {
  width: 417px;
  height: 45.1px;
  background-color: #FB5B11;
  border: 0;
}

.form__input::-moz-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  text-transform: capitalize;
  color: #cdcdcd;
  font-family: "Barlow", sans-serif;
}

.form__input::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  text-transform: capitalize;
  color: #cdcdcd;
  font-family: "Barlow", sans-serif;
}

.form-text {
  font-family: "Jost", sans-serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 131%;
  text-transform: capitalize;
  color: white;
}

.form-button {
  border: 0;
}

.footer-container {
  background: #000;
  width: 100%;
  height: 637.1px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.footer_inner-container {
  width: 100%;
  height: 100%;
  background-image: url("../images/footer-bg.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right 0 bottom 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer__logo-box,
.footer__link-box,
.footer__info-box,
.footer__link-social-box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 70%;
}

.footer-allrihts {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70.59px;
}

.footer-title {
  font-family: "Jost", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 162%;
  text-transform: capitalize;
  color: white;
}

.footer-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  text-transform: capitalize;
  color: #cdcdcd;
  font-family: "Barlow", sans-serif;
}

.footer-text:hover {
  color: #FB5B11;
}

.footer-link {
  text-decoration: none;
  color: #cdcdcd;
}

.footer-link:visited {
  color: #cdcdcd;
}

.footer-link:hover {
  color: #FB5B11;
}

.our-blog .our-blog__cards .card .card__text, .our-blog .our-blog__events .events .events__text, .our-blog .our-blog__text, .section-latest-services .latest-services .latest-services__text {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 16px;
  line-height: 162%;
}

.section-latest-services {
  max-width: 1297px;
  height: 426px;
  margin: 0 auto;
  margin-top: 300px;
  display: flex;
}
@media (max-width: 1152px) {
  .section-latest-services {
    justify-content: center;
  }
}
.section-latest-services .latest-services {
  position: relative;
  max-width: 28rem;
  max-height: 22rem;
  display: flex;
  flex-direction: column;
  align-items: start;
}
@media (max-width: 1152px) {
  .section-latest-services .latest-services {
    flex-direction: column;
    gap: 2rem;
    margin-top: 2rem;
    align-items: center;
  }
}
.section-latest-services .latest-services .latest-services__text {
  font-family: "JostBold", sans-serif;
  justify-content: center;
}
.section-latest-services .latest-services .latest-services__title {
  font-family: "JostBold", sans-serif;
  font-size: clamp(30px, 4.8vw, 52px);
  line-height: 62px;
  margin-top: 1rem;
  max-width: 26rem;
  height: 7.8rem;
}
.section-latest-services .latest-services .latest-services__info {
  font-size: 16px;
  line-height: 162%;
  margin-top: 0.5rem;
  max-width: 28rem;
  height: 4.8rem;
  color: rgb(85, 85, 85);
}
.section-latest-services .latest-services .latest-services__button {
  height: 60px;
  width: 146px;
  margin-top: 43px;
  font-family: "JostBold", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 162%;
  background-color: white;
  color: #0e0e0e;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--0e0e0e);
  transition: 0.5s;
  box-shadow: 0 0 10px #555555;
  cursor: pointer;
}
.section-latest-services .latest-services .latest-services__button:hover {
  background-color: #fb5b11;
  color: white;
  text-decoration: none;
}
.section-latest-services .latest-services .latest-services__button:active {
  transform: scale(0.99);
}
.section-latest-services .latest-services .latest-services__button span {
  margin-right: 10px;
}
.section-latest-services .latest-services .latest-services__button img {
  display: block;
  width: 17px;
  height: 17px;
}
.section-latest-services .latest-services .latest-services__button:hover img {
  content: url(../images/arrow-top.svg);
}
.section-latest-services .latest-services .worker-icon {
  position: absolute;
  bottom: -2.5rem;
  right: -2rem;
}

.our-blog .our-blog__cards .card .card__text, .our-blog .our-blog__events .events .events__text, .our-blog .our-blog__text, .section-latest-services .latest-services .latest-services__text {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  line-height: 162%;
}

.our-blog .our-blog__cards .card .card__link, .our-blog .our-blog__events .events .events__link {
  font-family: "JostBold", sans-serif;
  font-size: 16px;
  line-height: 162%;
  text-decoration: none;
  color: #fb5b11;
  gap: 10px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: start;
  box-sizing: border-box;
  width: 7rem;
  height: 1.6rem;
}

.our-blog .our-blog__cards .card__position .cards-image_position-small img, .our-blog .our-blog__cards .card .card__image img, .our-blog .our-blog__events .events__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

.our-blog .our-blog__cards .card__position .cards-image_position-small .cards-image_position-text, .our-blog .our-blog__events .events__image .events-image_position .events-image_position-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  font-weight: 400;
}

.our-blog {
  max-width: 1297px;
  max-height: 1189px;
  display: flex;
  flex-direction: column;
  margin: 100px auto;
}
.our-blog .our-blog__text {
  font-family: "JostBold", sans-serif;
  justify-content: center;
}
.our-blog .our-blog__title {
  margin-top: 1rem;
  align-self: center;
  text-align: center;
  font-family: "JostBold", sans-serif;
  font-size: clamp(30px, 4.8vw, 52px);
  line-height: 62px;
  max-width: 40.7rem;
  height: 4rem;
}
.our-blog .our-blog__events {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5rem;
}
@media (max-width: 1152px) {
  .our-blog .our-blog__events {
    flex-direction: column;
    gap: 2rem;
    margin-top: 2rem;
    justify-content: center;
  }
}
.our-blog .our-blog__events .events {
  text-align: start;
  max-width: 28.7rem;
  height: 17.3rem;
}
@media (max-width: 1152px) {
  .our-blog .our-blog__events .events {
    text-align: center;
  }
}
.our-blog .our-blog__events .events .events__text {
  color: #555555;
}
@media (max-width: 1152px) {
  .our-blog .our-blog__events .events .events__text {
    justify-content: center;
  }
}
.our-blog .our-blog__events .events .events__title {
  margin-top: 1rem;
  font-family: "JostBold";
  font-size: 32px;
  line-height: 42px;
  max-width: 28.6rem;
  height: 5.3rem;
}
.our-blog .our-blog__events .events .events__info {
  margin-top: 1rem;
  font-size: 16px;
  line-height: 26px;
  color: #555555;
  max-width: 26.2rem;
  height: 5rem;
}
.our-blog .our-blog__events .events .events__link {
  margin-top: 2.3rem;
}
.our-blog .our-blog__events .events__image {
  max-width: 40rem;
  height: 22.5rem;
  position: relative;
}
.our-blog .our-blog__events .events__image .events-image_position {
  position: absolute;
  top: 0.6rem;
  left: -4.4rem;
  max-width: 8rem;
}
@media (max-width: 768px) {
  .our-blog .our-blog__events .events__image .events-image_position {
    left: 1rem;
  }
}
.our-blog .our-blog__events .events__image .events-image_position .events-image_position-text {
  font-size: 24px;
  line-height: 34px;
  width: 4.4rem;
  height: 4.3rem;
}
.our-blog .our-blog__cards {
  max-width: 1297px;
  display: flex;
  margin-top: 1.8rem;
  gap: 1.5rem;
  position: relative;
}
@media (max-width: 1280px) {
  .our-blog .our-blog__cards {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}
.our-blog .our-blog__cards .card {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 1.8rem;
  width: 26rem;
  height: 32.8rem;
  border: 1px solid rgb(216, 216, 216);
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  position: relative;
}
.our-blog .our-blog__cards .card .card__text {
  color: #555555;
  margin-top: 1.4rem;
}
.our-blog .our-blog__cards .card .card__title {
  margin-top: 1rem;
  font-family: "JostBold", sans-serif;
  font-size: 24px;
  line-height: 34px;
  width: 22.4rem;
  height: 4.3rem;
}
.our-blog .our-blog__cards .card .card__link {
  margin-top: 1rem;
  margin-bottom: 1.4rem;
}
.our-blog .our-blog__cards .card .card-link_black {
  color: black;
}
.our-blog .our-blog__cards .card .card__image {
  width: 22.3rem;
  height: 18.8rem;
  align-self: center;
  position: relative;
}
.our-blog .our-blog__cards .cards-image_position {
  position: absolute;
  left: -18rem;
  top: 2.7rem;
  width: 4.5rem;
}
.our-blog .our-blog__cards .card__position {
  position: relative;
}
.our-blog .our-blog__cards .card__position .cards-image_position-small {
  position: absolute;
  width: 4.5rem;
  height: 4.3rem;
  top: 15rem;
  right: 2.8rem;
}
.our-blog .our-blog__cards .card__position .cards-image_position-small .cards-image_position-text {
  font-size: 16px;
  line-height: 26px;
  width: 3rem;
  height: 3.2rem;
}
.our-blog .card__button {
  height: 60px;
  width: 12rem;
  background-image: linear-gradient(to right, #fb5b11 0%, #f17e49 51%, #fb5b11 100%);
  color: white;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  font-family: "JostBold";
  font-size: 16px;
  line-height: 26px;
  transition: 0.5s;
  background-size: 200% auto;
  box-shadow: 0 0 10px #555555;
  cursor: pointer;
  padding: 1rem 2rem;
  align-self: center;
  margin-top: 2.6rem;
}
.our-blog .card__button:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}
.our-blog .card__button:active {
  transform: scale(0.99);
}
.our-blog .card__button .button__image {
  width: 1.4rem;
  height: 100%;
}

.testimonials {
  margin: 100px auto;
  max-width: 1296px;
  background-image: "../images/left-screen.svg";
  background-position: top left;
}
.testimonials .testimonials__heading {
  margin-bottom: 50px;
  font-family: "JostBold";
  font-size: 52px;
  line-height: 119%;
}
@media (max-width: 768px) {
  .testimonials .testimonials__heading {
    text-align: center;
  }
}
.testimonials .testimonialsSwiper {
  text-align: center;
}
.testimonials .testimonialsSwiper .testimonials__swiper-wrapper {
  height: 281px;
}
.testimonials .testimonialsSwiper .testimonials__swiper-wrapper .testimonials__swiper-slide {
  padding-right: 10px;
  max-width: 950px;
  height: 100%;
  position: relative;
  border-right: 1px solid black;
}
.testimonials .testimonialsSwiper .testimonials__swiper-wrapper .slide_one:after {
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 20px 0 20px 44px;
  border-color: transparent #ffffff;
  display: block;
  width: 0;
  z-index: 1;
  right: -44px;
  top: 40px;
}
.testimonials .testimonialsSwiper .testimonials__swiper-wrapper .slide_one:before {
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 20px 0 20px 44px;
  border-color: transparent #000000;
  display: block;
  width: 0;
  z-index: 0;
  right: -45px;
  top: 40px;
}
.testimonials .testimonialsSwiper .testimonials__swiper-wrapper .slide_two:after {
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 20px 0 20px 44px;
  border-color: transparent #ffffff;
  display: block;
  width: 0;
  z-index: 1;
  right: -44px;
  top: 130px;
}
.testimonials .testimonialsSwiper .testimonials__swiper-wrapper .slide_two:before {
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 20px 0 20px 44px;
  border-color: transparent #000000;
  display: block;
  width: 0;
  z-index: 0;
  right: -45px;
  top: 130px;
}
.testimonials .testimonialsSwiper .testimonials__swiper-wrapper .slide_three:after {
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 20px 0 20px 44px;
  border-color: transparent #ffffff;
  display: block;
  width: 0;
  z-index: 1;
  right: -44px;
  top: 220px;
}
.testimonials .testimonialsSwiper .testimonials__swiper-wrapper .slide_three:before {
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 20px 0 20px 44px;
  border-color: transparent #000000;
  display: block;
  width: 0;
  z-index: 0;
  right: -45px;
  top: 220px;
}
.testimonials .testimonialsSwiper .testimonials__swiper-wrapper .testimonials__text {
  margin-bottom: 40px;
  color: #555555;
  font-family: Jost;
  font-size: 32px;
  line-height: 42px;
  text-align: left;
  text-transform: capitalize;
}
.testimonials .testimonialsSwiper .testimonials__swiper-wrapper .testimonials__client {
  display: flex;
  align-items: center;
  gap: 37px;
}
.testimonials .testimonialsSwiper .testimonials__swiper-wrapper .testimonials__client i {
  font-size: 62px;
}
.testimonials .testimonialsSwiper .testimonials__swiper-wrapper .testimonials__client .client__name {
  font-family: "JostBold";
  font-size: 32px;
  line-height: 42px;
  text-align: left;
}
.testimonials .testimonialsSwiper .testimonials__swiper-wrapper .testimonials__client .client__details {
  color: #555555;
  font-size: 24px;
  line-height: 34px;
  text-align: left;
}
.testimonials .testimonialsSwiper .testimonials__pagination {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.testimonials .testimonialsSwiper .testimonials__pagination .swiper-pagination-bullet {
  width: 70px;
  height: 70px;
}
.testimonials .testimonialsSwiper .testimonials__pagination .swiper-pagination-bullet-active {
  width: 110px;
  height: 110px;
}/*# sourceMappingURL=index.css.map */